.chore-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 2;
}

.chore-card {
    width: 50%;
    max-width: 400px;
    margin: 20px;
    background-color: #ffd9e0;
}

.deleteBtn {
    margin-left: 5px;
}
