@import 'bootstrap/dist/css/bootstrap.css';
@import 'homepage.css';
@import 'profile.css';
@import 'chores.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

.household-button-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.household-buttons {
  max-width: 260px;
  margin: 20px;
  width: 50%;
}

.household-container {
  display: flex;
  flex-wrap: wrap;
}

.household-h1 {
  text-align: center;
}
.household-h3 {
  text-align: center;
}
