.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-page-header {
    text-align: center;
    margin: 60px 0 75px 0;
    font-weight: 700;
}

.main-page-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-page-button {
    text-align: center;
    margin: 40px 0;
}
