.profile-page-h2 {
    justify-content: center;
    display: flex;
    margin: 100px 0 40px 0;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    float: left;
    order: 1;
}

.profile-card-div {
    display: flex;
    justify-content: center;
}

.profile-card {
    max-width: 500px;
    width: 70%;
    margin: 60px 100px;
    padding: 20px;
}

@media only screen and (max-width: 600px) {

    .profile-container {
        float: none;
        flex-direction: none;
    }
}
